*{
margin: 0px;
font-family: "inter";
}

#logo{
    margin-left: 30px;
    margin-top: 50px;
    width: 105px ;
    height: 62px;
}

  
 
#tituloTop_menu {
    margin-top: 40px;
    margin-left: 150px;
}
#texto_tituloTop{
    margin-top: 20px;
    margin-left: 150px;
}
#menuSuperior{
    color: white;
    font-family: "inter";
    background-image: url(fundo.svg);
    padding-bottom: 100px;
}
#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns:auto;
}
.icone{
    margin: 20px 0px 20px 100px;
    padding: 25px;
}
.textoinformativo{
    display: flex;
    align-items: center;
}
#menuVideo{
    display: grid;
     grid-auto-flow: column;
     
    }
#tituloVideo{
    color:#247BA0;
    margin-top: 50px ;
    
}
#video{
    margin: 50px 25px 50px 100px;
}
#carrossel{
    background-color: #247BA0;
    padding: 50px;
}
#titulocard{
    color: white;
    text-align: center;
    font-size: 25px;
}

#cards{
    display: grid;
    grid-auto-flow: column;
    
}
.card{
    margin: 50px 50px;
}
#seta-esquerda{
    display: none;
}
#card3{
    display: none;
}
.seta{
    text-align: center;
    margin-top: 100px;
    cursor: pointer;
   
}
#seta-esquerda{
    margin-top: 120px;
}
.seta:hover{
    transform: translateY(-7px);
    transition: 300ms;

}
#FORMULARIO{
text-align: center;

}
#tituloFormulario{
    font-size: 25px;
    color: #383838;
    margin: 30px;
}
input{
 Width: 320px;
 Height: 40px;
 border-radius: 5px;
 background-color: #EAECE5;
 margin: 15px;
 border: none;
 padding-left:10px ;
}
 button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: none;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
 }
 button:hover{
    background-color: #339fce;
    color:white;
    transition: 500ms;
    transform: translateY(-7px);
    box-shadow: 0px 10px 15px  #1b3946b0;
    
 }